
#top_header {
    display: flex;
    width: 100%;
    background-color: rgba(7, 62, 173, 0.94);
}
a{
    text-decoration: none;
}
h1{
    color: white;
    font-size: 25px;
    margin-left: 25px;
    padding-top: 15px;
}
hgroup > p{
    color: white;
    margin-left: 25px;
}

header > nav{
    display: flex;
    width: 78%;
}
#sub > li > a{
    color: white;
    font-weight: bold;
    left: 50%;
}
#navi > ul > li > ul{
    display: none;
}
#navi > li:hover > ul{
    display: block;
}
#navi > li{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    position: relative;
}

#navi > li > ul{
    left: 5%;
    display: none;
    position: absolute;
    width: 73%;
    background-color: rgba(7, 62, 173, 0.94);
}
#navi > li:hover{
    display: block;
    background-color: white;
}
#navi ul ul a{
    text-align: center;
}
#navi > li:hover > a{
    color: rgba(7, 62, 173, 0.94);
}
#navi > li > a{
    color: white;
    font-weight: bolder;
}
#navi > ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

#navi {
    margin-top: 79px;
    margin-left: 150px;
    width: 78%;
    display: flex;
    justify-content: space-around;
}
#post{
    padding: 20px;
}
.card{
    margin-top: 10px;
    margin-bottom: 20px;
    border-width: bold;
    border-style: solid;
    border-color: rgba(7, 62, 173, 0.94);
    background-color: white;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgba(7, 62, 173, 0.94);
}

#login{
    border-top: 15px;
    border-bottom: 15px;
    border-style: solid;
    border-color: white;
    display: table-cell;
    background-color: rgba(7, 62, 173, 0.94);
}
#login > form{
    padding-left: 10px;
}
section {
    display: table-cell;
}

#ad {
    display: table-cell;
}
#ad > article{
    margin-bottom: 15px;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(13, 17, 226);
}
#ad > article > p {
    margin-left: 10px;
    margin-right: 10px;
}
.contents{
    margin-top: -3px;
    margin-left: -20px;
    display: inline-flex;
}
.contents > p{
    margin-left: -20px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
h3{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
}

footer{
    width: 100%;
    display: inline-block;
    background-color: rgba(7, 62, 173, 0.94);
}
#foot > ul > li{
    display: inline;
    margin-right: 250px;
}
footer a{
    color: white;
}
aside label{
    color: white;
}
.accent{
    font-weight: bold;
    color: red;
}
#user, #pass{
    margin-bottom: 10px;
}
aside article img{
    margin-left: 3px;
    margin-bottom: -12px;
    margin-top: -5px;
}
aside > article p{
    font-size: 13px ;
}